@tailwind base;
@tailwind components;
@tailwind utilities;


#page {
    height: auto;
}

#phone {
    background-color: rgb(13, 12, 12);
    margin-top: 10%;
    margin-left: 0;
}

#navbar {
    display: auto;
}




@media only screen and (max-width: 600px) {
    #phone {
        background-color: rgb(13, 12, 12);
        margin-right: 3%;
        overflow: hidden;
    }

    #navbar {
        display: none;
    }

    .modal-box {
        overflow: hidden;
    }

}